In [2]:
import pandas as pd

In [3]:
order = pd.read_csv("/workspaces/datapipeline/data_source/order.csv")
menu = pd.read_csv("/workspaces/datapipeline/data_source/menu.csv")
promotion = pd.read_csv("/workspaces/datapipeline/data_source/promotion.csv")

In [12]:
order.sales_date = pd.to_datetime(order.sales_date)
menu.effective_date = pd.to_datetime(menu.effective_date)
promotion.start_date = pd.to_datetime(promotion.start_date)
promotion.end_date = pd.to_datetime(promotion.end_date)

In [18]:
order = order.sort_values(by = 'sales_date', ascending = False)

In [36]:
data = order[order.sales_date <= '2021-04-25']
data.to_csv("order_2021_04_25.csv" , index = False)

     order_id  menu_id  quantity sales_date
950       286        1         3 2021-04-25
953       287        3         3 2021-04-25
951       287        1         4 2021-04-25
952       287        1         3 2021-04-25
954       288        2         5 2021-04-25
..        ...      ...       ...        ...
1           1        3         5 2021-01-01
5           2        4         1 2021-01-01
6           2        3         2 2021-01-01
7           2        4         4 2021-01-01
0           1        3         5 2021-01-01

[957 rows x 4 columns]

In [40]:
list_back_filling = ['2021-05-01', '2021-04-30', '2021-04-29', '2021-04-28', '2021-04-27', '2021-04-26', '2021-04-25']
# for date in list_back_filling:
#     data = order[order.sales_date == date]
#     date_str = date.replace("-", "_")
#     data.to_csv(f"order_{date_str}.csv", index = False)

In [42]:
for date in list_back_filling:
    date_str = date.replace("-", "_")
    promotion.to_csv(f"promotion_{date_str}.csv", index = False)